@media (min-width: 600px) {
  main {
    background-position: right 50% bottom 0%;
  }

  #logo-spacer a img {
    margin-left: 54px;
  }

  #container-spacer {
    width: 310px;
    flex: 0 0 calc(33.3333333333%);
    margin: 0 auto;
  }

  #container-about {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #container-about #photo-about {
    width: 50%;
    order: 1;
  }

  #text-about {
    margin: 0 10px;
    flex: 0 0 calc(50% - 20px);
    order: 2;
  }

  #text-about li {
    align-self: center;
    width: 450px;
  }

  #text-about li:nth-child(1) {
    margin-bottom: 19px;
  }

  #text-about li h2 {
    font-family: "Montserrat";
    font-size: 1.2em;
    text-transform: uppercase;
    align-self: center;
  }
  #text-about li p {
    font-family: "Raleway";
    color: #6f6f6f;
    font-size: 0.8em;
    align-self: center;
  }
  .container-gallery {
    display: flex;
    flex-direction: row;
  }

  .container-gallery li {
    width: 100%;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-gallery #privet {
    background-position: center bottom;
  }

  .container-gallery #open-space {
    background-position: center bottom;
  }

  .container-gallery #meeting-rooms {
    background-position: center bottom;
  }

  .container-gallery #community {
    background-position: center bottom;
  }

  #information p {
    width: 500px;
  }

  #container-location {
    display: flex;
  }

  #maps,
  #spacer-location {
    flex: 0 0 50%;
  }

  #maps {
    background-position: unset;
  }

  #spacer-location {
    background-position: center bottom;
  }
}

@media (min-width: 800px) {
  #title-services {
    color: #000;
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    padding: 44px 0 28px;
  }

  .container-services {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 40px;
    flex: 0 0 calc(238px - 80px);
  }

  .container-services ul:nth-child(3) {
    margin-right: 0px;
  }

  .container-item {
    background: #ffffff;
    margin: 0 29px 20px 0;
    padding: 30px;
  }

  .container-item li {
    margin-bottom: 16px;
  }
}
