/* Fonte de titúlo */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/static/Raleway-Light.ttf");
}

/* Fonte de corpo */
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/static/Raleway-Medium.ttf");
}

main {
  background: url("../assets/img/first-section/Photo-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 50% bottom 40%;
  height: 803px;
  display: flex;
  flex-direction: column;
}

#container-logo {
  display: flex;
  margin-bottom: 219px;
}

#logo-spacer a img {
  margin: 17px 13px 0 20px;
  width: 21px;
  height: 24px;
}

#title-logo p {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 1em;
  text-transform: uppercase;
  margin: 20px 0 0;
}

#container-spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 13px;
  background: rgb(0 0 1 / 85%);
  width: calc(100% - 26px);
  padding: 57.5px 0;
  flex: 0 0 calc(33.3333333333% - 26px);
}

#title-spacer h1 {
  color: #ffff;
  font-family: "Montserrat";
  font-size: 2.125em;
  letter-spacing: 8.71px;
  text-transform: uppercase;
  text-align: center;
}

#efect-spacer {
  margin: 19px 0;
}

#efect-spacer p {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 0.625em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.call-to-action-spacer a {
  background: #43e094;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 0.563em;
  text-transform: uppercase;
  padding: 11px 20px;
  opacity: 1;
}

#container-about {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#container-about #photo-about {
  background: url("../assets/img/about/Photo-2.png");
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 35% bottom 40%;
  order: 2;
}

@media handheld, (orientation: landscape) and (max-width: 653px) {
  #container-about #photo-about {
    background-position: left 38.5% bottom 40%;
  }
}

#text-about {
  display: flex;
  flex-direction: column;
  margin: 80px 22px;
  flex: 0 0 calc(276px - 44px);
  justify-content: center;
  align-self: center;
  order: 1;
}

#text-about li:nth-child(1) {
  margin-bottom: 19px;
}

#text-about li h2 {
  font-family: "Montserrat";
  font-size: 1.2em;
  text-transform: uppercase;
}
#text-about li p {
  font-family: "Raleway";
  color: #6f6f6f;
  font-size: 0.8em;
}

#services {
  background: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#title-services {
  color: #000;
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  padding: 44px 0 28px;
}

.container-services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 40px;
  flex: 0 0 calc(238px - 80px);
}

.container-item {
  background: #ffffff;
  margin: 0 0 20px 0;
  padding: 30px;
}

.container-item li {
  margin-bottom: 16px;
}

.container-item li h3 {
  font-family: "Montserrat";
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #000;
}

.container-item li p {
  font-family: "Raleway";
  font-size: 0.8em;
  font-weight: 500;
}
